<div class="jumbotron mt-4">
    <h1 class="display-4">Notes app with mongo db</h1>
    <p class="lead">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Modi sed excepturi iste nisi fugiat voluptates quibusdam adipisci at esse minus ullam repudiandae sapiente doloribus quidem eos doloremque eaque, perspiciatis libero.</p>
    <a href="https://elmarcz.github.io/portfolio/" class="btn btn-primary btn-lg">Marc Medrano</a>
</div>
